@font-face {
  font-family: "BMJUA";
  src: url("../assets/fonts/test/BMJUA.eot");
  src: url("../assets/fonts/test/BMJUA.woff2") format("woff2"),
    url("../assets/fonts/test/BMJUA.woff") format("woff"),
    url("../assets/fonts/test/BMJUA.ttf") format("ttf");
}

* {
  font-family: "BMJUA", sans-serif;
  box-sizing: border-box;
}
